body{ 
    background-color: rgb(135, 177, 128);
    font-family: Calibri;
    font-size: 18px;
    color: black;
}

.manta {
    background-color: #141313;
    padding: 30px;
}

.manta a {
    color: aqua;
    text-decoration: none;
    
   
}

.botao {
    color: rgb(192, 13, 13);
    background-color: black;
    text-decoration: none;
    padding: 10px;
    
}
.materia{
    background-color: azure;
    padding: 30px;
    margin-bottom: 30px;
}

.navegacao{
    display: flex;
}

main {
    padding: 30px;
}

.rodape {
 background-color: chocolate;
 color: aliceblue;
 padding: 30px;
 
}
.menu {
    display: flex;
    list-style: none;
    margin-left: auto;
}

li {
    margin-right: 20px;
}
.menu a :hover {
    color: black;

}